

* { box-sizing: border-box; }
body {
  margin: 0;

}

.logo{
	height: 150px;
}


nav ul {
  list-style: none;
  margin: 0;
	margin-left: 1000px;
  padding: 0;
}
nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}
.topmenu {
  backface-visibility: hidden;
	font-size: 23px;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-family: monospace;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.down:after {
  
  margin-left: 8px;
  font-family: monospace;
}
.topmenu li a:hover { color: #0d7d6c; }
.submenu {
  background: white;
  border: 2px solid #000000;
  position: absolute;
  left: -1000px;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  color: #000000;
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'monospace';
}